$primaryText: #535674;

@import 'vendor/normalize';

html {
  box-sizing: border-box;
}
*, *:before, *:after { box-sizing: inherit; }

body {
  background-color: #fff;
  color: $primaryText;
  font-family: 'Proxima Nova', Helvetica, sans-serif;
}

@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

@import 'objects/container';
@import 'components/Menubar';
@import 'components/Brand';
@import 'components/Nav';
@import 'components/Cart';
@import 'components/Hero';
@import 'components/Section';
@import 'components/Learn';
@import 'components/Footer';
@import 'components/FooterLabel';
@import 'components/FooterNav';

.u-1\/3 {
  float: left;
  width: (100% / 3);
}
